body {
    font-family: 'Roboto', sans-serif;
    background-color: #f3f3f3;
}

.login {
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    z-index: 1;
    padding: 72px 0;
}
.login img {
    margin-bottom: 95px;
}

.login_form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login input {
    width: 261px;
    height: 54px;
    border: 1px solid #d7d7d7;
    border-radius: 4px;
    margin-bottom: 15px;
}

.login input::placeholder {
    text-align: center;
    color: #aeaeae;
    font-size: 18px;
}

.login button {
    width: 109px;
    height: 45px;
    background-color: #e7e7e7;
    border-radius: 9px;
    border-style: none;
    font-size: 18px;
    color: #696969;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 22px 0 22px;
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    
}

header ion-icon {
    font-size: 40px;
}

.user_list {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.user_list_tab {
    position: absolute;
    right: 0;
    height: 100%;
    width: 70%;
    background-color: #fff;
    overflow-y: scroll;
}

.user_list_tab li {
    display: flex;
    align-items: center;
    min-height: 35px;
    padding: 0;
}

.user_list_tab ion-icon {
    font-size: 24px;
    margin: 0 5px;
}

[name=checkmark-sharp] {
    display: none;
}

.selected [name=checkmark-sharp] {
    color: #28bb25;
    position: absolute;
    right: 20px;
    display: block;
}

.user_names, .message_type {
    margin: 20px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user_names p, .message_type p {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 0 10px;
    margin-bottom: 10px;
}

.dark_background {
    background-color: rgba(0, 0, 0, 0.6);
    width: 30%;
}

.container {
    margin: 100px 0;
    overflow-y: scroll;
}

li {
    min-height: 40px;
    margin: 4px 0;
    padding: 5px 5px;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 2px;
    word-break:keep-all;
    line-height: 20px;
}

.status {
    background-color: #dcdcdc;
}

.private_message {
    background-color: #ffdede;
}

.timestamp {
    font-weight: 400;
    color: #aaaaaa;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}

footer form {
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer input {
    width: 85%;
    font-size: 18px;
    background-color: #fff;
    border-style: none;
}

footer input::placeholder {
    color: #000;
    font-style: italic;
}

footer p {
    width: 100%;
    font-size: 14px;
    margin: 0 0 10px 30px;
    font-weight: 300;
}

input:focus {
    outline: none;
}

button {
    background: transparent;
    border-style: none;
}

button:focus {
    outline: none;
}

footer [name=paper-plane-outline] {
    font-size: 30px;
}

.hidden {
    display: none;
}